@model Waterworks.Models.View.Client.BasicCreateObjectViewModel

<div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SposobRozliczenia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SposobRozliczenia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumerKlienta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumerKlienta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Geometria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geometria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrDomu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrDomu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrLokalu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrLokalu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NrDzialki)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NrDzialki)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poczta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poczta)
        </dd>
    </dl>
</div>
<div>
</div>
