@model IEnumerable<Waterworks.Models.View.Client.BasicCreateObjectViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SposobRozliczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geometria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miejscowosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrDomu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrLokalu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrDzialki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poczta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SposobRozliczenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Geometria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Miejscowosc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KodPocztowy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrDomu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ulica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrLokalu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrDzialki)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Poczta)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "AdvancedDetails", new { id = item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
