@model IEnumerable<Waterworks.Models.View.Client.ClientBasicInformation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RodzajKlientaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PESEL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RodzajKlientaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PESEL)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
            </td>
        </tr>
}
    </tbody>
</table>
